<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.company.mapper.TestCompanyEmployeeMapper">
	<insert id="addOneRecord" parameterType="map">
		INSERT INTO test_company_employee (id,employee_id, company_id, taking_time, partment)
		VALUES (#{id},#{employeeId}, #{companyId}, #{takingTime}, #{partment})
	</insert>
	<update id="editOneRecord" parameterType="map">
		UPDATE test_company_employee
		<set>
			<if test="companyId != null">company_id = #{companyId},</if>
			<if test="employeeId != null">employee_id = #{employeeId},</if>
			<if test="takingTime != null">taking_time = #{takingTime},</if>
			<if test="partment != null">partment = #{partment},</if>
		</set>
		WHERE
			id =#{id};

	</update>

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  test_company_employee 
		WHERE
			 company_id = #{mainId} 	</delete>
	<delete id="deleteOneRecord" parameterType="java.lang.String">
		DELETE
		FROM  test_company_employee
		WHERE
			id = #{id}

	</delete>

	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.demo.company.entity.TestCompanyEmployee">
		SELECT * 
		FROM  test_company_employee
		WHERE
			 company_id = #{mainId} 	</select>
	<select id="allTableValue" resultType="org.jeecg.modules.demo.company.entity.TestCompanyEmployee">
		select *
		from test_company_employee
	</select>

</mapper>
